<div class="content">

<h3><%= @book.title %></h3>
<%= image_tag(@book.image, :class => 'feature') %>

<ul>
  <% unless @book.author.nil? %>
<li><%= link_to @book.author.name, @book.author %></li>
<% end %>

  <li>Author: <%= @book.writer %></li>
  <li>Genre: <%= @book.genre %></li>
  <li>Year: <%= @book.year %></li>
</ul>
</div>
<br>
<br>
<%= link_to 'Edit Book', edit_book_path %><br>

<%=  link_to 'Delete Book', @book, :method => 'delete' %>
