
  <div class="rps_result">
<h1>And the winner is...?</h1>
<div class="result_info">
<h2>You Played: <%= @num_games %></h2>
<h2>You Won: <%= @win_count %></h2>
<h2>You Drew: <%= @tie_count %></h2>
<h2>You Lost: <%= @loss_count %></h2>
<h2>So, you <%= @result %></h2>
</div>
</div>
