<p>
  <h2><%= @title %></h2>
  <p><h3>Year:</h3> <%= @year %></p>
  <p><h3>Runtime:</h3> <%= @runtime %></p>
  <p><h3>Director:</h3> <%= @director %></p>
  <p><h3>Poster:</h3></p>
</p><img src="<%= @poster_URL %>"></p>
</p>
