<p>
  <h2> Movie Details </h2>
  <p>Title: <%= @title %></p>
  <p>Year: <%= @year %></p>
  <p>Runtime: <%= @runtime %></p>
  <p>Director: <%= @director %></p>
  <p>Poster:</p>
</p><img src="<%= @poster_URL %>">"</p>
</p>
