<h1> <%= @title %> </h1>

<!--  TITLE STUFF -->
<h3> <%=  @data["Year"] %> </h3>
<img src=<%= @data["Poster"] %> />

<p> Genre: <%= @data["Genre"] %> </p>
<p> Runtime: <%= @data["Runtime"] %> </p>
<p> Released: <%= @data["Released"] %> </p>
<p> Metascore: <%= @data["Metascore"] %> </p>


<!--  ID STUFF -->
<p>
  <%= @data %>
</p>
