<h2><%= @movie["Title"] %></h2>
<h3>Year: <%= @movie["Year"] %></h3>
<h3>Director: <%= @movie["Director"] %></h3>
<h3>Actors: <%= @movie["Actors"] %></h3>
<h3>IMDB Rating: <%= @movie["imdbRating"] %></h3>
<img src="<%= @movie["Poster"] %>">
