<h1>All Authors</h1>

<% @authors.each do |a| %>

  <% if a.image.present %>
    <%= link_to(image_tag(a.image), a) %>
    <p>
      <%= a.name %>, <%= a.genre %>
    </p>
  <% else %>
    <p>
      <%= link_to(a.name, a) %> <%=", " << a.genre unless a.genre.nil? or a.genre == "" %>
    </p>
  <% end %>

<% end %>
