<h1><%= @author.name %></h1>

<% if @author.image.present %>
  <%= image_tag(@author.image) %>
<% end %>

<p>Date of Birth: <%= @author.date_of_birth.strftime "%A %e %B, %Y" unless @author.date_of_birth.nil?%> </p>
<p>Genre: <%= @author.genre %></p>

<h4><%= pluralize(@author.books.size, 'Book').split[1] %></h4>
<ul>
  <% @author.books.each do |b| %>
    <li><%=link_to(b.title, b)  %></li>
  <% end %>
</ul>

<p>
  <%= link_to('Edit Author', edit_author_path) %>
  <%= link_to('Delete Author', @author, :method => :delete) %>
</p>
