
<img src="<%= @city.image%>">

<h3> <%= @city.city %></h3>
<p>
  Country: <%= @city.country %>
</p>
<br>
<br>
<a class="button" href="/cities/<%= @city.id %>/delete"> Delete </a>

<a class="button" href="/cities/<%= @city.id %>/edit"> Edit .. </a>
