<h1><%= @result["Title"] %></h1>

<div class="image">
  <img src="<%= @result["Poster"] %>" alt="">
</div>

<div class="detail">
  <h3 class="year">Released: <%= @result["Released"] %></h3>
  <h3 class="rating">Rated: <%= @result["Rated"]%> </h3>
  <h3 class="rating">Runtime: <%= @result["Runtime"]%> </h3>
  <h3 class="rating">Genre: <%= @result["Genre"]%> </h3>
  <h3 class="rating">Actors: <%= @result["Actors"]%> </h3>
</div>
