<h3>results</h3>

<h1><%= @movie %></h1>

<div class="results">
<img class="poster display" src=<%= @poster %> alt="poster">
<ul class="stats display">
  <li>Director: <%=@director%></li>
  <li>Stars: <%=@stars%></li>
  <li>Year: <%=@year%></li>
  <li>Rating: <%=@rating%></li>

</ul>


</div>
