<h2>Title: <%= @result["Title"] %></h2>
<h2>rated: <%= @result["Rated"] %></h2>
<h2>Actors :<%= @result["Actors"] %></h2>
<h2>Genre :<%= @result["Genre"]%></h2>
<h2>Plot :<%= @result["Plot"]%></h2>



<p>The Movie: <%= @movie %></p>
<img src= <%= @poster %> >
