<h2><%= @guitarcar[0]['name'] %></h2>

<p>Type: <%= @guitarcar[0]['type'] %></p>
<p>Number of Wheels: <%= @guitarcar[0]['wheels'] %></p>
<p>Colours: <%= @guitarcar[0]['colors'] %></p>
<img src="<%= @guitarcar[0]['image'] %>" alt="No Image Loaded Yet">

<a href="/guitarcars/<%= @guitarcar[0]['id'] %>/edit">Edit</a>
<a href="/guitarcars/<%= @guitarcar[0]['id'] %>/delete">Delete</a>
