<h2>
  <form action="<%= mountain_path(@mountain.id) %>" method="post">
    <p><label>Name:</label><input type="text" name="name" value="<%= @mountain.name %>"></p>
    <p><label>Location:</label><input type="text" name="location" value="<%= @mountain.location %>"></p>
    <p><label>Image:</label><input type="url" name="image" value="<%= @mountain.image %>"></p>
    <p><label>Height:</label><input type="number" name="height" value="<%= @mountain.height %>"></p>
    <p><label>Reached:</label><input type="text" name="reached" value="<%= @mountain.reached %>"></p>
    <p><label>First Ascent:</label><input type="number" name="year" value="<%= @mountain.year %>"></p>
    <button>Submit Changes</button>
  </form>
</h2>
