<h2>Edit Wine</h2>
<form action="/wines/<%= @wine.id %>" method="post">
<p>
<label>Name:</label>
<input name="name" value="<%= @wine.name %>">

<label>Style:</label>
<input name="style" autocomplete="" value="<%= @wine.style %>">

<label>Palate:</label>
<input name="palate" autocomplete="" value="<%= @wine.palate %>">

<label>Image:</label>
<input type="url" name="image" value="<%= @wine.image %>">

<input type="submit" value="Update Wine">
</p>
</form>
