

<h2> <%= @result["Title"] %></h2>
<img src="<%=  @result["Poster"] %>" alt="" />

<h4> Year: <%= @result["Year"] %></h4>
<h4> Genre: <%=  @result["Genre"] %></h4>
<h4> Released: <%=  @result["Released"] %></h4>
<h4> Director: <%=  @result["Director"] %></h4>
<h4> Awards: <%=  @result["Awards"] %></h4>
<h4> Language: <%=  @result["Language"] %></h4>
<h4> Country: <%=  @result["Country"]%></h4>
<h4> Duration: <%=  @result["Runtime"] %></h4>
<h4> Plot: <%=  @result["Plot"] %></h4>

<a href="/">Back</a>
