
<p><%= link_to 'Back', root_path%></p>

<div class="showpage">

<h2> Edit Ocean </h2>

<form action="<%= ocean_update_path(@ocean.id)  %>" method="post">
<p><label>Name:</label> <input type="text" name="name" value="<%= @ocean.name %>"></p>
<p><label>Location:</label> <input type="text" name="location" value="<%= @ocean.location %>"></p>
<p><label>Area: </label> <input type="number" name="area" value="<%= @ocean.area %>"></p>
<p><label>Volume:</label><input type="number" name="volume" value="<%= @ocean.volume %>"></p>
<p><label>Deep:</label><input type="number" name="deep" value="<%= @ocean.deep %>"></p>
<p><label>Coastline:</label><input type="number" name="coastline" value="<%= @ocean.coastline %>"></p>

<button>Edit Ocean</button>
</form>
</div>
