<h1><%= @ocean.name %> Ocean</h1>

<% if @ocean.area %>
<p>Area: <%= number_to_human @ocean.area %> square km</p>
<% end %>

<% if @ocean.mean %>
<p>Mean Depth: <%= number_with_delimiter @ocean.mean, delimiter: ',' %>m</p>
<% end %>
<p><img src="<%= @ocean.image %>" alt=""></p>
<p><%= link_to 'Edit Ocean', ocean_edit_path(@ocean.id) %></p>
<%= button_to 'Destroy Ocean', ocean_delete_path(@ocean.id) %>
